/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #f5f7fb;
    color: #333;
}
body {
    background: #f2f5fa;
    font-family: "Inter", sans-serif;
}

/* ===== NAVBAR ===== */
.navbar {
    width: 100%;
    background: #00b3ff; 
    padding: 12px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.nav-left .logo {
    height: 45px;
}

.nav-center a {
    color: #ffffff;
    margin: 0 15px;
    font-weight: 500;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.nav-center a:hover {
    color: #cfe3ff;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.notif {
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.profile-box {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.profile-name {
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.profile-role {
    font-size: 12px;
    color: #e9eeff;
}


.container {
    width: 95%;
    max-width: 1100px;
    margin: 40px auto;
}

.container h2 {
    font-size: 24px;
    margin-bottom: 6px;
}

.tanggal {
    margin-bottom: 25px;
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.card-presensi {
    background: #fff;
    border-radius: 12px;
    padding: 25px 30px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    text-align: center;
}

.card-presensi h3 {
    margin-bottom: 15px;
}

.btn-primary {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 22px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-danger {
    background: #ff3b3b;
    color: #fff;
    border: none;
    padding: 10px 22px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-disabled {
    background: #ddd;
    color: #666;
    border: none;
    padding: 10px 22px;
    border-radius: 8px;
}

.info-text {
    color: #666;
}

.logout-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #116ca4;
    color: white;
    padding: 10px 12px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 18px;
    z-index: 999;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
  }
  
  .logout-btn:hover {
    background-color: #044d7b;
  }
  

/* Mobile */
@media (max-width: 700px) {
    .grid-box {
        grid-template-columns: 1fr;
    }
}
