body {
    font-family: Arial, sans-serif;
    background: #eef3ff;
    margin: 0;
    padding: 0;
}

/* CARD UTAMA */
.card {
    width: 80%;
    max-width: 900px;
    background: #ffffff;
    margin: 40px auto;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.1);
    text-align: center;
}

/* JUDUL */
.card h2 {
    margin-top: 0;
    font-size: 26px;
    color: #333;
}

/* LINK TAMBAH KARYAWAN */
.card a {
    text-decoration: none;
    color: #2563eb;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 15px;
}

table th {
    background: #2563eb;
    color: white;
    padding: 10px;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table tr:nth-child(even) {
    background: #f5f7ff;
}

/* LINK Aksi */
td a {
    color: #2563eb;
    font-weight: bold;
}

td a:hover {
    text-decoration: underline;
}

/* LINK KEMBALI */
.card p a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 14px;
    background: #ff0000;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.card p a:hover {
    background: #ca0e0e;
}
